.page-mixin() {
  margin: 0 auto;
  width: 100%;
  max-width: @document-width;
  padding-top: @menu-bar-height;
}

.types-mixin() {

  &__wrapper {
    // max-width: @activity-width;
    // min-height: @activity-height;
    // margin: 0 auto;
    background: @white;
    // box-shadow: 0 0px 1px rgba(0, 0, 0, 0.8);
  }
  &__container {
    position: relative;
  }
}

.default-type() {
  padding: 0;
}
.content-type() {
  padding: @indent-sm @indent-sm @indent-md;
  h1 {
    margin-top: @indent-xs;
  }
}
.wrapped-type() {
  padding: @indent-sm @indent-sm @indent-xl;
}
